@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: #000;
}

#header{
    float:right;
    position: relative;
    top:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 2rem;
    z-index: 1000;
}

nav ul{
    display:flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

nav ul li{
    margin-right: 4rem;
}

nav ul li a{
    color:#fff;
    font-size: 2rem;
    text-decoration: none;
    font-family: "Playfair Display", serif;
}

nav ul li a:hover{
    color:rgba(199, 5, 124, 0.966);
}

.fa-shopping-cart{
    font-size:2.5rem;
    color:rgba(241, 113, 231, 0.966);

}

.fa-bars
{
    font-size:3.5rem;
    z-index:10000;
    color: #fff;
    cursor:pointer;
    display:none;
}
.fa-hand-holding-heart
{
    transform:skew(-180deg);
}


#INICIO h1{
    font-size:10rem;
    color:#fff;
    font-family:"STIX Two Text", serif;

}

#INICIO{
    background: linear-gradient(0deg, rgba(0,0,0), rgb(10,10,10));
    position: relative;
    z-index: 0;
}

#SLOGAN{
    margin-top: 4rem;
    background-color: #fff;
    font-family: "Playfair Display", serif;
}

#SLOGAN h1{
    font-size:5rem;
    padding:2rem;
    
    
}

#SLOGAN h2{
    font-size:3rem;
    padding:2rem;
}



@media(max-width:768px)
{
    html{
        font-size:50%;
    }
    .fa-bars{
        display:block;
    }
    nav{
        position: fixed;
        top:0;
        right:-120%;
        height:100vh;
        width:35rem;
        background: #000;
    }
    nav ul
    {
        flex-flow:column;
        justify-content: center;
        height:100%;
    }
    nav ul li
    {
        margin:2rem 0;
    }
    nav ul li a
    {
        font-size:3.25rem;
    }
    .nav-toggle
    {
        right:0;
    }
}