.card img{
    border-radius: 0.5rem; 
    width:100%;
    margin-top:5%;
}

a{
    text-decoration: none;
}

.card .medium{
    width:100%;
}
 
.card{
    border:0.1rem #c0c0c0 solid;
    background-color: #fff;
    border-radius: 0.5rem;
    margin: 1rem;
    max-width: 25rem;
    padding:1rem;
}
 
.card .card-body{
    padding:1rem;
}
 
.card-body > *{
    margin-bottom: 0.5rem;
}
 
.price{
    font-size:2.5rem;
    font-weight: 700;
    font-family:"STIX Two Text", serif;
}
 
.card h2{
    color:#000;
}
 
.card h2:hover{
    color:rgba(241, 113, 231, 0.966);
}
 
.card .desc p {
    font-size:2rem;
    width:100%;
    font-family:"STIX Two Text", serif;
}

.card-hold{
    display:flex;
    flex-wrap: wrap;

}

@media(max-width:768px)
{
    .card{
        width: 100%;
        max-width: 22rem;
    }
}

@media(min-width:800px) and (max-width:1360px){
    .card{
        max-width: 20rem;
    }
}

@media(min-width:1368){
    .card{
        max-width: 25rem;
    }
}